<div class="container">
	<div class="image-contacte">
		<img src="imgs/contacte.png">
	</div>
	<form>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email address</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputObjet">Email address</label>
		    <input type="text" class="form-control" id="exampleInputObjet" placeholder="Objet" required>
		  </div>
		  <div class="form-group">
			  <label for="comment">Message:</label>
			  <textarea class="form-control" rows="5" id="comment"></textarea>
		  </div>
		  <button type="submit" class="btn btn-success">Envoyer</button>
	</form>
</div>
